[Metadata]
TITLE=
PLATFORM=
SENSOR=
SENSE_START=
SENSE_END=
TAGS=
PROVIDER=
CONTACT=
WEBSITE=

[Options]
NOTIFY_OAM=true
TRIGGER_OAM_TS=true
REPROJECT=false
CONVERT_GEOTIFF_RGB=false

[Storage]
S3_BUCKET_NAME=
S3_BUCKET_PREFIX=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
