[Metadata]
BASE_UUID=http://www-aaa-sss
TITLE=Sample imagery
PLATFORM=2
SENSOR=camera
SENSE_START=2000-01-07T00:00:00
SENSE_END=2000-01-14T00:00:00
PROVIDER=Provider inc.
CONTACT=Contact name <email>

[Options]
LICENSE=false
REPROJECT=true
NOTIFY_OAM=true
TRIGGER_OAM_TS=true

[Storage]
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
